@font-face {
        font-family: "Roboto-Regular";
        src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
      }
@font-face {
        font-family: "Roboto-Bold";
        src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
      }
@font-face {
        font-family: "share-tech-regular";
        src: url("./assets/fonts/share-tech-regular.ttf") format("truetype");
      }

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}